@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,301,300,400&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Satoshi", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Satoshi', sans-serif !important;
  box-sizing: border-box;
}

.collapse-btn{
  margin-bottom: 20px;
}
.wrapper{
  position: relative;
  padding-top: 120px;
  padding-bottom: 80px;
  @media (max-width: 755px) {
    padding-top: 80px;
    padding-bottom: 60px;
  }
}
.inner{
  position: relative;
  z-index: 1;
}

.dots{
  position: absolute;
  color: #909090;
  @media (max-width: 755px) {
    display: none;
  }
}

.dotsLeft{
  left: 0;
  top: 0;
}

.title{
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: -1px;
  color: #171717;
  margin-bottom: 8px; 
  @media (max-width: 520px) {
    font-size: 28px;
    text-align: left;
  }
}
.highlight{
  color: #45FFBD;
}

.description{
  text-align: center;
  font-size: 18px;
  color: #707070;
  margin-bottom: 40px;
  @media (max-width: 520px) {
    text-align: left;
    font-size: 16px;
  }
}
.controls{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  @media (max-width: 520px) {
    flex-direction: column;
  }
}

.control{
  &:not(:first-of-type){
    margin-left: 20px;
  }
  @media (max-width: 520px) {
    height: 42px;
    font-size: 16px;
    &:not(:first-of-type){
      margin-top: 20px;
      margin-left: 0;
    }
  }
}
.control1{
  background-color: #45FFBD;
  color: #000;
  font-family: 'Satoshi', sans-serif;
  font-weight: 800;
  &:hover{
    background-color: #45FFBD;
  }
  &:not(:first-of-type){
    margin-left: 20px;
  }
  @media (max-width: 520px) {
    height: 42px;
    font-size: 16px;
    &:not(:first-of-type){
      margin-top: 20px;
      margin-left: 0;
    }
  }
}
.control2{
  background-color: #45FFBD90;
  color: #000;
  font-family: 'Satoshi', sans-serif;
  font-weight: 800;
  &:hover{
    background-color: #45FFBD;
  }
  &:not(:first-of-type){
    margin-left: 20px;
  }
  @media (max-width: 520px) {
    height: 42px;
    font-size: 16px;
    &:not(:first-of-type){
      margin-top: 20px;
      margin-left: 0;
    }
  }
}
.modal1{
  display: flex;
  align-items: center;
  justify-content: center;
  &__content{
    width: 30vw;
    padding: 10px 0 40px 0;
    margin-left: calc(50% - 15vw);
    & > h2{
      margin-bottom: 40px;
    }
  }
}
.main-logo{
  cursor: pointer;
}
.nav-link{
  @extend .main-logo;
}
.masinfo{
  width: 70vw;
  margin-left: calc(50% - 35vw);
  &--intro{
    padding: 40px 0;
    & > p{
      font-weight: 400;
      line-height: 1.7;
    }
    & > h2{
      font-size: 18px;
    }
  }
}
h1{
  font-weight: 800;
}

.dashboard__profile{
  background-color: #fffdd1;
  display: grid;
  grid-template-columns: 30% 1fr;
}
.dashboard__content{
  padding-top: 50px;
  & > h1{
    margin: 0;
    font-size: 30px;
  }
  & > h2 {
    font-size: 18px;
    font-weight: 400;
  }
}
.dashboard__card{
  &--main{
    margin: 20px 0px 20px 0px;
    border-radius: 8px;
    background-color: #45FFBD;
    padding: 20px;
    width: 40vw;
  }
  &--button{
    background-color: #fffdd1;
    border-radius: 999px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    transition: all 0.3s ease-in-out;
    &:hover{
      transition: all 0.3s ease-in-out;
      width: 150px;
    }
    &:before{
      content: "Reproducir";
      font-size: 12px;
      font-weight: 800;
      opacity: 0;
      margin: 0 10px;
    }
    &:hover::before{
      transition-delay: 0.2s;
      opacity: 1;
      display: inline-block;
    }
  }
}
